* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins";
}

.contacto {
  width: 100%;
  height: auto;
  background-color: #13171c;
  color: #eeeeee;
}

.contacto__contenedor {
  height: 997px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 960px) {
  .contacto__contenedor {
    flex-direction: row;
    max-width: 1200px;
    height: 100%;
    align-items: start;
    padding: 200px 70px;
  }
}

.contacto__title {
  font-size: 42px;
  font-weight: 700;
  margin: 39px 0;
}
@media (min-width: 960px) {
  .contacto__title {
    width: 600px;
    height: 80px;
    margin: 0;
    margin-right: 24px;
  }
}

.form-tipografia {
  font-size: 18px;
  font-weight: 700;
  font-family: "Poppins";
  border: 0;
}

.formulario {
}
.form__cont-name-email {
  display: flex;
  width: 313px;
  flex-wrap: wrap;
}
@media (min-width: 960px) {
  .form__cont-name-email {
    flex-direction: row;
    width: 600px;
  }
}

.formulario__label-nombre {
  display: flex;
  flex-direction: column;
}

.formulario__input-nombre {
  background-color: #393e4680;
  width: 313px;
  height: 59px;
  margin: 0;
  padding: 0;
  border-radius: 16px;
  color: #eeeeee80;
  margin-bottom: 30px;
}
@media (min-width: 960px) {
  .formulario__input-nombre {
    width: 288px;
  }
}
.formulario__label-email {
  display: flex;
  flex-direction: column;
}
@media (min-width: 960px) {
  .formulario__label-email {
    margin-left: 24px;
  }
}

.formulario__input-email {
  background-color: #393e4680;
  width: 313px;
  height: 59px;
  margin: 0;
  padding: 0;
  border-radius: 16px;
  color: #eeeeee80;
  margin-bottom: 30px;
}
@media (min-width: 960px) {
  .formulario__input-email {
    /* margin-left: 24px; */
    width: 288px;
  }
}

.formulario__label-mensaje {
}

.formulario__input-mensaje {
  background-color: #393e4680;
  width: 313px;
  height: 280px;
  margin: 0;
  padding: 0;
  border-radius: 16px;
  color: #eeeeee80;
  margin-bottom: 30px;
}
@media (min-width: 960px) {
  .formulario__input-mensaje {
    width: 600px;
    height: 280px;
  }
}

.formulario__boton {
  display: flex;
  width: 312px;
  height: 55px;
  border-radius: 24px;
  border: 0;
  background-color: #00adb5;
  color: #000000;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
}

.boton_emoji {
  font-size: 30px;
  margin: 0;
}
.alerta {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #4caf50; /* verde por defecto */
  color: white;
  padding: 12px 20px;
  border-radius: 6px;
  font-size: 14px;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.4s ease;
  z-index: 9999;
}

.alerta.show {
  opacity: 1;
  transform: translateY(0);
}

.alerta.hidden {
  display: none;
}

/* Estilos para error */
.alerta.error {
  background: #e53935; /* rojo */
}
