* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins";
}

.perfil {
  background-color: #192130;
  color: #ffffff;
  width: 100%;
  height: 100vh;
}
@media (min-width: 960px) {
  .perfil {
    display: flex;
    align-items: center;
  }
}

.contenedor-perfil {
  width: 295px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
@media (min-width: 960px) {
  .contenedor-perfil {
    flex-direction: row;
    min-width: 960px;
    max-width: 1189px;
    max-height: 500px;
  }
}
.perfil__contenedor-presentacion {
}
@media (min-width: 960px) {
  .perfil__contenedor-presentacion {
    width: 300px;
    height: 389px;
  }
}
.perfil__presentacion-titulo {
  font-weight: 700;
  font-size: 42px;
  margin: 0;
}

.perfil__presentacion-descripcion {
  font-weight: 400;
  font-size: 18px;
  margin: 0;
  margin-top: 29px;
}

.perfil__presentacion-img {
  width: 295px;
  height: 275px;
}
@media (min-width: 960px) {
  .perfil__presentacion-img {
    width: 450px;
    height: 500px;
  }
}
