* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins";
}
.main {
  background-color: #13171c;
  width: 100%;
  height: 90vh;
}

.contenedor-main {
  width: 375px;
  height: 724px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (min-width: 960px) {
  .contenedor-main {
    flex-direction: row;
  }
}

.main__titulo {
  width: 288px;
  height: 225px;
  margin: 0;
  font-weight: 700;
  font-size: 60px;
  color: #ffffff;
  text-align: center;
}

.main__titulo-color {
  color: #00adb5;
}

.main__emogi {
  width: 219px;
  height: 211px;
  margin: 0;
  font-size: 100px;
}
@media (min-width: 960px) {
  .main__emogi {
    margin-left: 100px;
  }
}
