.content-header {
}

.header {
  width: 100%;
  height: 10vh;
  background-color: #13171c;
}

.header-cont {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo-header {
  width: 50px;
  height: 50px;
  margin-left: 20px;
}

.header__menu-movile {
  width: 40px;
  height: 40px;
  border: solid #ffffff 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 4px;
  margin-right: 20px;
}
@media (min-width: 960px) {
  .header__menu-movile {
    display: none;
  }
}
.menus-movile {
  border: solid #ffffff 2px;
  width: 100%;
  height: 1px;
}

.content-menu-desplegado {
  position: absolute;
  top: 0%;
  left: 0%;
  right: 0%;
  /* transition: all 0.3s ease; */
}

.header__menu-desplegado {
  width: 100%;
  height: 100vh;
  background-color: #000000;
  color: #eeeeee;
  display: none;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

.header__menu-desplegado__cerrar {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 30px;
}

.menu-desplegado__lista {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.menu-desplegado__option {
  margin: 0 auto;
  list-style-type: none;
  font-weight: 500;
  font-size: 42px;
  margin-bottom: 25px;
}

.menu-desplegado__option > a {
  text-decoration: none;
  color: inherit;
}

.content-menu-pc {
  display: none;
}
@media (min-width: 960px) {
  .content-menu-pc {
    display: flex;
    min-width: 327px;
    min-height: 47px;
  }
}

.header__menu-pc {
  display: flex;
  color: #eeeeee;
  width: 100%;
}

.menu-pc__lista {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.menu-pc__option {
  list-style-type: none;
  font-weight: 400;
  font-size: 18px;
}
.menu-pc__option > a {
  text-decoration: none;
  color: inherit;
}
